In [2]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import numpy

import matplotlib.pyplot as plt
import requests

In [9]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
df = pd.read_csv("../BootCamp24-project-4-group-08/16k_Movies.csv")

# Display sample data
df.head()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16290 entries, 0 to 16289
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           16290 non-null  int64
 1   Title                16290 non-null  object
 2   Release Date         16290 non-null  object
 3   Description          16290 non-null  object
 4   Rating               12846 non-null  float64
 5   No of Persons Voted  12829 non-null  object
 6   Directed by          16283 non-null  object
 7   Written by           15327 non-null  object
 8   Duration             16277 non-null  object
 9   Genres               16285 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.2+ MB

In [11]:
df_cleaned = df.dropna()

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12335 entries, 0 to 16282
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           12335 non-null  int64
 1   Title                12335 non-null  object
 2   Release Date         12335 non-null  object
 3   Description          12335 non-null  object
 4   Rating               12335 non-null  float64
 5   No of Persons Voted  12335 non-null  object
 6   Directed by          12335 non-null  object
 7   Written by           12335 non-null  object
 8   Duration             12335 non-null  object
 9   Genres               12335 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.0+ MB

In [12]:
df.head()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"

In [18]:
# Convert the 'Release Date' column to actual datetime format
df['Release Date'] = pd.to_datetime(df['Release Date'], errors='coerce')

# Display the data type of the 'Release Date' column to confirm conversion
df['Release Date'].dtype

dtype('<M8[ns]')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16290 entries, 0 to 16289
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           16290 non-null  int64
 1   Title                16290 non-null  object
 2   Release Date         16290 non-null  datetime64[ns]
 3   Description          16290 non-null  object
 4   Rating               12846 non-null  float64
 5   No of Persons Voted  12829 non-null  object
 6   Directed by          16283 non-null  object
 7   Written by           15327 non-null  object
 8   Duration             16277 non-null  object
 9   Genres               16285 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 1.2+ MB

In [20]:
df_cleaned = df.dropna()

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12335 entries, 0 to 16282
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           12335 non-null  int64
 1   Title                12335 non-null  object
 2   Release Date         12335 non-null  datetime64[ns]
 3   Description          12335 non-null  object
 4   Rating               12335 non-null  float64
 5   No of Persons Voted  12335 non-null  object
 6   Directed by          12335 non-null  object
 7   Written by           12335 non-null  object
 8   Duration             12335 non-null  object
 9   Genres               12335 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 1.0+ MB

In [21]:
# Step 1: Remove any commas or non-numeric characters
df['No of Persons Voted'] = df['No of Persons Voted'].str.replace(',', '')

# Step 2: Convert the column to numeric (will convert invalid entries to NaN)
df['No of Persons Voted'] = pd.to_numeric(df['No of Persons Voted'], errors='coerce')

# Step 3: Fill NaN values if needed (e.g., with 0, or you can drop them)
df['No of Persons Voted'] = df['No of Persons Voted'].fillna(0)

# Step 4: Convert the column to integer type
df['No of Persons Voted'] = df['No of Persons Voted'].astype(int)

# Display the updated data type to verify the change
df['No of Persons Voted'].dtype

dtype('int32')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16290 entries, 0 to 16289
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           16290 non-null  int64
 1   Title                16290 non-null  object
 2   Release Date         16290 non-null  datetime64[ns]
 3   Description          16290 non-null  object
 4   Rating               12846 non-null  float64
 5   No of Persons Voted  16290 non-null  int32
 6   Directed by          16283 non-null  object
 7   Written by           15327 non-null  object
 8   Duration             16277 non-null  object
 9   Genres               16285 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(1), int64(1), object(6)
memory usage: 1.2+ MB

In [23]:
df_cleaned = df.dropna()

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12350 entries, 0 to 16282
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           12350 non-null  int64
 1   Title                12350 non-null  object
 2   Release Date         12350 non-null  datetime64[ns]
 3   Description          12350 non-null  object
 4   Rating               12350 non-null  float64
 5   No of Persons Voted  12350 non-null  int32
 6   Directed by          12350 non-null  object
 7   Written by           12350 non-null  object
 8   Duration             12350 non-null  object
 9   Genres               12350 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(1), int64(1), object(6)
memory usage: 1013.1+ KB